{% extends 'base.html' %}

{% block title %}Chats | {% endblock %}

{% block content %}
  <div class="p-10 lg:p-20 text-center">
    <h1 class="text-3xl lg:text-6xl text-white">Chats</h1>
  </div>

  <div class="w-full flex flex-wrap items-center">
    {% for chat in chats %}
      <div class="w-full lg:w-1/4 px-3 py-3">
        <div class="p-4 bg-white shadow rounded-xl text-center">
          <h2 class="mb-5 text-2xl font-semibold">{{ chat.name }}</h2>

          <a href="{% url 'chats:chat' chat.slug %}"
             class="px-5 py-3 block rounded-xl text-white bg-teal-600 hover:bg-teal-700">Join</a>
        </div>
      </div>
    {% endfor %}

    <div class="w-full lg:w-1/4 px-3 py-3">
      <div class="p-4 bg-white shadow rounded-xl text-center">
        <h2 class="mb-5 text-2xl font-semibold">New Chat</h2>
        <form  method="post">
          {% csrf_token %}
          <div class="mb-4">
            <input type="text" name="name" id="chat_name" placeholder="Chat Name"
                   class="w-full px-4 py-2 border rounded-md focus:outline-none focus:ring focus:border-teal-500">
          </div>
          <button type="submit" class="px-5 py-3 block rounded-xl text-white bg-teal-600 hover:bg-teal-700">Create
          </button>
        </form>
      </div>
    </div>

  </div>
{% endblock %}